.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease;
  }
  
  .footer:hover {
    background-color: gray;
  }