<footer class="footer">
  <div class="container" style="justify-items: center;">
    <div class="footer-content">
      <div class="footer-section">
        <h1>Nombres</h1>
        <ul>
          <li>Pablo Vargas</li>
          <li>Javier Martinez</li>
          <li>Jhonatan Cobos</li>
          <li>Alexis Ortga</li>
        </ul>
      </div>
      <div class="footer-section reserved-rights" style="font-weight: bold">
        <p>CarHistory todos los derechos reservados 2024</p>
      </div>
      <div class="footer-section">
        <h1>Teléfonos:</h1>
        <ul>
          <li>614 362 0744</li>
          <li>614 396 1176</li>
          <li>614 521 8409</li>
          <li>614 363 6446</li>
        </ul>
      </div>
    </div>
  </div>
</footer>