<div class="header">
  <mat-toolbar
    [style.background-color]="headerColor"
    class="header-toolbar"
  >
    <mat-toolbar-row>
      <span class="title" [style.color]="textColor">{{ currentComponent }}</span>
      <div style="flex-grow: 1;"></div>
      <ng-container *ngIf="userButton">
        <button mat-icon-button *ngIf="!isLoggedIn()" (click)="goTo('login', 'login')">
          <mat-icon style="color: white;">account_circle</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isLoggedIn()" [matMenuTriggerFor]="menu">
          <mat-icon style="color: white;">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let item of menuItems" (click)="goTo(item.route, item.type)">
            {{ item.name }}
          </button>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="!userButton">
        <img [src]="logo" class="logo" />
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
