<div class="container">
    <h1>Términos y Condiciones de Uso</h1>
    <p>Bienvenido a CarHistory, un sitio web dedicado a la historia de los automóviles. Antes de utilizar nuestros
        servicios, te pedimos que leas atentamente estos términos y condiciones.</p>
    <ol>
        <li><strong>Aceptación de los Términos:</strong> Al acceder y utilizar el sitio web de CarHistory, aceptas
            cumplir y estar sujeto a estos términos y condiciones de uso.</li>
        <li><strong>Uso del Contenido:</strong> Todo el contenido proporcionado en CarHistory es solo para fines
            informativos y educativos.</li>
        <li><strong>Registro de Usuarios:</strong> Al registrarte en CarHistory, aceptas proporcionar información
            precisa y actualizada sobre ti mismo.</li>
        <li><strong>Privacidad:</strong> Respetamos tu privacidad y nos comprometemos a proteger tus datos personales de
            acuerdo con nuestra política de privacidad.</li>
        <li><strong>Propiedad Intelectual:</strong> Todo el contenido, diseño y marcas registradas en CarHistory son
            propiedad exclusiva de sus respectivos propietarios.</li>
        <li><strong>Modificaciones:</strong> Nos reservamos el derecho de modificar, actualizar o eliminar estos
            términos y condiciones en cualquier momento sin previo aviso.</li>
    </ol>
    <p>Al utilizar CarHistory, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con alguno
        de estos términos, por favor abstente de utilizar nuestro sitio web.</p>
    <footer>
        Gracias por ser parte de CarHistory.
    </footer>
    <button mat-raised-button class="button" (click)="onClose()">Aceptar</button>
</div>