  <!-- Header -->
  <app-header [userButton]="true"></app-header>
  <div class="container">
    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>Descubre la elegancia de los carros exóticos</h1>
          <p>Explora la historia y la belleza de los modelos más icónicos de
            <strong>
              <span class="Ferrari">Ferrari</span>, 
              <span class="Mercedes">Mercedes</span>, 
              <span class="Porsche">Porsche</span> y 
              <span class="BMW">BMW</span>.
            </strong>
          </p>
          <button (click)="navigateToBrands()" style="border-radius: 20px;">Explorar</button>
        </div>
      </section>
    </main>
  </div>