<!-- Header -->
<app-header [userButton]="true"></app-header>

  <div id="stick-parallax-header" class="container"
    [ngStyle]="{'background-image': 'url(../../../assets/img/homeBackground.jpg)'}">
    <main>
      <section class="hero">
        <div class="hero-content" [ngStyle]="{'text-shadow': '1px 1px 2px #000000'}">
          <h1>Descubre la elegancia de los carros exóticos</h1>
          <p>Explora la historia y la belleza de los modelos más icónicos de
            <strong>
              <span class="Ferrari">Ferrari</span>,
              <span class="Mercedes">Mercedes</span>,
              <span class="Porsche">Porsche</span> y
              <span class="BMW">BMW</span>.
            </strong>
          </p>
          <button (click)="navigateToBrands()" style="border-radius: 20px;">Explorar</button>
        </div>
      </section>
    </main>
  </div>
  <div class="container" [ngStyle]="{'background-image': 'url(../../../assets/img/rental.jpeg)'}">
    <main>
      <section class="hero">
        <div class="hero-content" [ngStyle]="{'text-shadow': '1px 1px 2px #000000'}">
          <h1>¿Quieres rentar un auto?</h1>
          <p>Explora nuestra colección de autos exóticos y elige el que más te guste.</p>
          <button (click)="navigateToRental()" style="border-radius: 20px;">Rentar</button>
        </div>
      </section>
    </main>
  </div>
