<nav class="navbar">
    <h1>CarHistory</h1>
  </nav>
  
  <main>
    <section class="hero">
      <div class="hero-content">
        <h2>Descubre la elegancia de los carros exóticos</h2>
        <p>Explora la historia y la belleza de los modelos más icónicos de <strong>Ferrari, Mercedes, Porsche y BMW.</strong></p>
        <button (click)="navigateToBrands()" style="border-radius: 20px;">Explorar</button>
      </div>
      <div class="image-section">
        <img src="https://newsroom.porsche.com/.imaging/mte/porsche-templating-theme/image_1290x726/dam/AU_local/2022/Products_AU/911-GTS--Product-Highlights/911-GTS-Australian-images---exterior-static/PORSCHE_TAYCANGTS_911GTS_DKIMG_0920.jpg/jcr:content/PORSCHE_TAYCANGTS_911GTS_DKIMG_0920.jpg" alt="Carro lujoso">
      </div>
    </section>
  </main>