.contenedorprincipal {
    background-image: url('../../../assets/img/carretera.jpg');
    background-size: cover;/* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    background-position: center;/* Centra la imagen de fondo dentro del contenedor */
    background-repeat: no-repeat;/* Evita que la imagen de fondo se repita */
    /* que ocupe toda la oantalla */
    height: 100vh;
}

.card {
    height:100%;
    max-width: 100%;
    margin: 5%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgba(87, 87, 87, 0.7);
    backdrop-filter: blur(5px); /* Desenfoque al fondo */
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.inner-card {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.inner-car-card {
    width: 300px;
    margin-right: 10px;
}

.car-button {
    width: 100%;
    margin-top: auto;
    margin-bottom: 10px;
}

.hovereffect:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}



