<div class="container">
    <ng-container>
        <div class="contenedorprincipal">
            <app-header [currentComponent]="'Profile'" [userButton]="true"></app-header>
            <main>
                <mat-card class="card">
                    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                        <div class="row" fxLayout="column" fxLayoutAlign="center center">
                            <div class="col-md-12" style="text-align: center;">
                                <mat-icon class="icon" style="font-size: 100px; width: 100px; height: 100px; color: white;">account_circle</mat-icon>
                                <h2 style="color: white;">{{ user.username }}</h2>
                                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center"
                                    fxLayoutGap="10px" fxLayoutGap.lt-md="10px">
                                    <button mat-raised-button color="primary" (click)="updateUser()">Editar</button>
                                    <button mat-raised-button color="warn" (click)="changePassword()">Cambiar contraseña</button>
                                    <button mat-raised-button color="second" (click)="deleteUser()">Eliminar cuenta</button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class="row" fxLayout.lt-md="column">
                    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
                        <mat-card class="card">
                            <h3 style="text-align: center; margin-top: 2%; color: white;" mat-card-title>Autos rentados</h3>
                            <ng-container *ngIf="cars.length > 0">
                                <mat-card-content style="overflow-x: scroll; display: flex; scrollbar-width: none;">
                                    <ng-container *ngFor="let car of cars">
                                        <mat-card class="inner-car-card" style="border-radius: 10px; max-width: 150px; cursor: pointer;">
                                            <mat-card-content  fxLayout="row" [style.background-image]="'url(' + car.images[0] + ')'" style="background-size: cover; background-position: center; background-repeat: no-repeat; height: 200px; border-radius: 10px;" (click)="showCar(car)" class="hovereffect">
                                                <p style="color: white; font-size: 20px; font-weight: bold; margin-top: 10px; margin-left: 10px; position: absolute;">{{ car.model }}</p>
                                                <button mat-raised-button class="car-button" (click)="validateReturnCar($event, car)">Devolver</button>
                                            </mat-card-content>
                                        </mat-card>
                                    </ng-container>
                                </mat-card-content>
                            </ng-container>
                            <ng-container *ngIf="cars.length == 0">
                                <mat-card-content style="overflow-x: scroll; display: flex; scrollbar-width: none; justify-content: center;">
                                    <p style="color: white; text-align: center; align-items: center;">No tienes autos rentados</p>
                                </mat-card-content> 
                            </ng-container>
                        </mat-card>
                    </div>

                    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
                        <mat-card class="card">
                            <h3 style="text-align: center; margin-top: 2%; color: white;" mat-card-title>Historial de inicios de sesión</h3>
                            <mat-card-content style = "overflow-y: scroll; justify-content: center; max-height: 200px; scrollbar-width: none;">
                                <mat-card *ngFor="let ipObject of user.publicIp" class="inner-card">
                                    <mat-card-content fxLayout="column">
                                        <p>IP: {{ ipObject.ip }}</p>
                                        <p>NETWORK: {{ ipObject.network }}</p>
                                    </mat-card-content>
                                </mat-card>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

            </main>
        </div>
    </ng-container>
</div>