.contenedorprincipal {
    background-image: url('../../../assets/img/carretera.jpg');
    background-size: cover;/* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    background-position: center;/* Centra la imagen de fondo dentro del contenedor */
    background-repeat: no-repeat;/* Evita que la imagen de fondo se repita */
    /* que ocupe toda la oantalla */
    height: 100vh;
}

.card {
    height:100%;
    max-width: 100%;
    margin: 5%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgba(87, 87, 87, 0.7);
    backdrop-filter: blur(5px); /* Desenfoque al fondo */
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}


/* main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 */

 /* 
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    
} */

