<div class="container-image">
    <img src="../../../assets/img/brands/banner.jpeg" class="img-fluid" alt="...">
</div>
<div class="container-text">
    <div class="image-text">Brands</div>
</div>
<div class="container">
    <mat-grid-list cols="4" rowHeight="0.4:0.6">
        <a href="https://www.bmw.com.mx/es/modelos/bmw-i/i5/presentacion.html">
            <mat-grid-tile>
                <img src="../../../assets/img/brands/BMW.png" class="image">
            </mat-grid-tile>
        </a>
        <a href="">
            <mat-grid-tile>
                <img src="../../../assets/img/brands/Porsche-Logo.png" class="image porsche">
            </mat-grid-tile>
        </a>
        <a href="">
            <mat-grid-tile>
                <img src="../../../assets/img/brands/logoMercedes.png" class="image">
            </mat-grid-tile>
        </a>
        <a href="">
            <mat-grid-tile>
                <img src="../../../assets/img/brands/logo-ferrari.png" class="image">
            </mat-grid-tile>
        </a>
        <br>
        <a href="">
            <mat-grid-tile>
                <img src="../../../assets/img/brands/audi'logo.png" class="image audi">
            </mat-grid-tile>
        </a>
        <a href="">
            <mat-grid-tile>
                <img src="../../../assets/img/brands/Lamborghini_Logo.png" class="image">
            </mat-grid-tile>
        </a>
        <a href="">
            <mat-grid-tile>
                <img src="../../../assets/img/brands/Nissan_logo.png" class="image">
            </mat-grid-tile>
        </a>
        <a href="">
            <mat-grid-tile>
                <img src="../../../assets/img/brands/Mitsubishi_logo.png" class="image">
            </mat-grid-tile>
        </a>
    </mat-grid-list>    
</div>
