
.container-image {
  position: relative;
  width: 100%; 
  max-width: 100%; 
  height: auto; 
  max-height: 400px;
  overflow: hidden; 
}
.container-image img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

.image-text {
  padding-top: 10%;
  padding-left: 5%;
  font-size: 100px;
  color: #000000;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.container-text {
  background-color: #b9b8b8;
  padding-bottom: 5%;
  margin-top: -3%;
}

.image {
  width: 70%;
  height: auto;
}

.card {
  margin: 2%;
  flex-basis: calc(100% / 4 - 4%);
  background-color: #b9b8b8;
  box-sizing: border-box;
  height: 45vh;
  background-size: cover;
  background-position: center;
  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
  border-radius: 5vh; /* Ajusta este valor según tus necesidades */
}

.brands-content {
  color: white;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  padding: 20px; /* Espaciado interior */
}

.card:active {
  transform: scale(0.95);
}
.card:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}