<div class="container">
    <ng-container>
        <div class="info-car-container mat-elevation-z2">
            <!-- Header -->
            <app-header [currentComponent]="'info-car'" [componentName]="marca + ' ' + carroSeleccionado.modelo"></app-header> 

            <!-- Header antiguo-->
            <!-- <div class="info-car-header">
                <mat-toolbar [style.background-color]="color" class="header-toolbar">
                    <mat-toolbar-row>
                        <span [ngClass]="{'white-text': color === '#000000', 'black-text': color !== '#000000'}">{{ marca }} {{ carroSeleccionado.modelo }}</span>
                        <img [src]="logo" class="logo" />
                    </mat-toolbar-row>
                </mat-toolbar>
            </div> -->
            <!-- breadcrumbs -->
            <div class="bread">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
            <!-- Contenido -->
            <div class="container">
                <div class="images">
                    <div class="image-thumbnail-container">
                        <img [src]="imagenSeleccionada" class="image-small" id="main-image">
                    </div>
                    <div class="horizontal-images-container">
                        <div class="image-row">
                            <img *ngFor="let imagen of carroSeleccionado.imagenes; let i = index" [src]="imagen"
                                class="horizontal-image" (click)="seleccionarImagen(imagen, i)"
                                [class.unselected-image]="i !== imagenSeleccionadaIndex"
                                [class.selected-image]="i === imagenSeleccionadaIndex">
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="descr">
                        <h1>{{ carroSeleccionado.modelo }}</h1>
                        <p><span>Descripción: </span>{{ carroSeleccionado.descripcion }}</p>
                        <p><span>Precio: </span>$ {{ carroSeleccionado.precio }} USD</p>
                        <p><span>Motor: </span>{{ carroSeleccionado.motor }}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>