.info-car-container {
    background-image: url('../../../assets/img/carretera-atardecer.jpg');
    background-size: cover;
    /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen de fondo dentro del contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen de fondo se repita */
}

.profile-content {
    color: white;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    padding: 20px;
}

.info-car-header {
    text-align: center;
}

.profile-title {
    margin: 0 auto; /* Centrar horizontalmente */
}

.container-image {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.container-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    display: flex;
}

.images {
    width: 75%;
    margin-left: 5%;
}

.bread{
    color: #000000;
}

.sidebar {
    margin-left: -25%;
    width: 30%;
    color: rgb(255, 255, 255);
}

h1 {
    padding-bottom: 5%;
    font-size: 50px;
    line-height: 1.5;
    /* Establecer el interlineado */
}

span {
    color: #000000;
    font-weight: bold;
}

.unselected-image {
    opacity: 0.5;
    /* Esto reduce la opacidad de las imágenes no seleccionadas */
}

.selected-image {
    opacity: 1;
    /* Esto restaura la opacidad de la imagen seleccionada */
}

.descr {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    background-color: rgba(87, 87, 87, 0.7); 
    backdrop-filter: blur(5px); /* Desenfoque al fondo */
    border-radius: 20px;
}

.datasheet {
    margin-top: 10%;
}

.horizontal-images-container {
    width: 55%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.horizontal-image {
    width: 20%;
    box-sizing: border-box;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.image-small {
    padding-top: 5%;
    width: 55%;
}

p {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify; /* Justificar el texto */
    line-height: 1.5; /* Establecer el interlineado */
}

.horizontal-image:hover {
    cursor: pointer;
    opacity: 1;
}

.initial-image,
.horizontal-image.selected {
    opacity: 1;
}

.logo {
    width: 80px;
    margin: 0 auto;
    display: block;
}
