<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration or Sign Up form in HTML CSS | CodingLab</title> 
  </head>
  <body>
    <div class="wrapper">
      <h2>Registration</h2>
      <form class="example-form" action="#">
        <div class="input-box">
          <input type="text" matInput placeholder="Enter your name" required>
        </div>
        <div class="input-box">
          <input type="email" matInput placeholder="Enter your email" required>
        </div>
        <div class="input-box">
          <input type="password" matInput placeholder="Create password" required>
        </div>
        <div class="input-box">
          <input type="password" matInput placeholder="Confirm password" required>
        </div>
        <div class="policy">
          <mat-checkbox></mat-checkbox>
          <h3>I accept all terms & condition</h3>
        </div>
        <div class="input-box button">
          <button mat-raised-button color="primary" type="submit">Register Now</button>
        </div>
        <div class="text">
          <h3>Already have an account? <a href="#">Login now</a></h3>
        </div>
      </form>
    </div>
  </body>
</html>
