<div class="container">
    <h1 mat-dialog-title class="row"
    style="vertical-align: middle; background-color: #36a2f4; color: white; padding-top: 10px;">
        <mat-icon style="font-size: 40px; width: 40px; height: 40px;">person</mat-icon>
        <span style="margin-top: -10px;">¿Olvidaste tu contraseña?</span>
    </h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div mat-dialog-content style="padding-top: 10px; margin-top: 10px;">
            <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
            <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
                        El correo no es válido.
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
                        El correo es requerido.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" fxLayout.lt-md="column">
            <button mat-raised-button style="color: white;" color="primary" type="submit"
                fxFlex>Enviar Mail</button>
        </div>
    </form>
</div>