
<!-- Profile Component HTML -->
<div class="profile-container mat-elevation-z2">
  <ng-container>
    <div class="profile-container mat-elevation-z2">
      <!-- Encabezado del perfil -->
      <div class="profile-header">
        <mat-toolbar [style.background-color]="filteredData?.[0].paletaColores?.[0]"
          class="header-toolbar">
          <mat-toolbar-row>
            <ng-template [ngIf]="filteredData?.[0].paletaColores?.[0] === '#000000'">
              <span class="profile-title" style="color: white">{{filteredData?.[0].marca}}</span>
            </ng-template>
            <ng-template [ngIf]="filteredData?.[0].paletaColores?.[0] !== '#000000'">
              <span class="profile-title" style="color: black">{{filteredData?.[0].marca}}</span>
            </ng-template>
            <!-- Imagen del perfil -->
            <img [src]="filteredData?.[0].logo" class="logo" />

          </mat-toolbar-row>
        </mat-toolbar>
      </div>

      <!-- breadcrumbs -->
      <app-breadcrumbs></app-breadcrumbs>
      
      <!-- Contenido del perfil -->
      <div class="profile-content">
        <ng-container *ngFor="let car of filteredData?.[0].carros; let i = index">
          <mat-card [routerLink]="['/info-car', car.modelo]" (click)="onCardClick(i)" [style.backgroundImage]="'url(' + car.imagenes[0] + ')'" class="card">
            <mat-card-header>
              <mat-card-title>{{car.modelo}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>