
<!-- Profile Component HTML -->
<div class="profile-container mat-elevation-z2">
  <ng-container>
    <div class="profile-container mat-elevation-z2">
      <!-- Header -->
      <app-header [currentComponent]="'profile'" [componentName]="filteredData?.[0]?.marca"></app-header>

      <!-- breadcrumbs -->
      <app-breadcrumbs></app-breadcrumbs>
      
      <!-- Contenido del perfil -->
      <div class="profile-content">
        <ng-container *ngFor="let car of filteredData?.[0].carros; let i = index">
          <mat-card [routerLink]="['/info-car', car.modelo]" (click)="onCardClick(i)" [style.backgroundImage]="'url(' + car.imagenes[0] + ')'" class="card">
            <mat-card-header>
              <mat-card-title>{{car.modelo}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>