.profile-container {
  background-image: url('../../../assets/img/carretera.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen de fondo dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}

.profile-content {
  color: white;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-wrap: wrap; 
  justify-content: space-around;
  justify-content: center;
  padding: 20px; 
}

.button-container {
  display: flex;
  justify-content: center;
}


.profile-header {
  text-align: center;
}

.logo {
  width: 80px;
  margin: 0 auto;
  display: block; 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.card {
  margin: 2%;
  flex: 0 1 20%; /* Establece el tamaño de las cards para mostrar 3 en una fila */
  box-sizing: border-box;
  height: 45vh;
  background-size: cover;
  background-position: center;
  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
  border-radius: 5vh; 
}

.card:active {
  transform: scale(0.95);
  
}
.card:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.profile-title {
  margin: 0 auto; /* Centrar horizontalmente */
}

@media screen and (max-width: 768px) {
  .card {
    flex: 0 1 40%; /* Si la pantalla es más estrecha, muestra solo 2 cards en una fila */
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex: 0 1 100%; /* Si la pantalla es aún más estrecha, muestra solo 1 card por fila */
  }
}